<div class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Media browser</h4>
      </div>

      <div class="modal-body">

        {{#if !showForm }}
          <button on-click="showForm" class="btn btn-primary">
            Upload
            <span class="fa fa-caret-down"></span>
          </button>
        {{/if}}

        {{#if showForm }}
        <form role="form" intro="slide">
          <div class="form-group">
            <label for="file">File input</label>
            <input type="file" id="file">
          </div>
          <button type="submit" class="btn btn-primary">
            <span class="fa fa-upload"></span>
            Upload
          </button>
        </form>
        {{/if}}

        <hr>
        <div class="row">
          {{#images}}
          <div class="col-xs-6 col-md-3">
            <a href="{{image}}" class="thumbnail">
              <img src="{{thumb}}" alt="{{name}}">
              <div class="caption">
                {{name}}
              </div>
            </a>
          </div>
          {{/images}}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default">
          <span class="fa fa-times"></span>
          close
        </button>
      </div>
    </div>
  </div>
</div>
