
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button on-click="select-upload" class="btn btn-primary">
        <span class="fa fa-upload"></span>
        Upload
      </button>
      <div class="btn-group">
        <div class="btn-group">
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
            <span class="fa fa-filter"></span>
            Filter
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li role="presentation">
              <a role="menuitem" href="#" on-click="filter:all">
                <span class="fa {{ icon('filter', 'all') }}"></span>
                All
              </a>
            </li>
            <li role="presentation">
              <a role="menuitem" href="#" on-click="filter:images">
                <span class="fa {{ icon('filter', 'images') }}"></span>
                Images
              </a>
            </li>
            <li role="presentation">
              <a role="menuitem" href="#" on-click="filter:documents">
                <span class="fa {{ icon('filter', 'documents') }}"></span>
                Documents
              </a>
            </li>
          </ul>
        </div>
        <div class="btn-group">
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
            <span class="fa fa-sort"></span>
            Sort
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li role="presentation">
              <a role="menuitem" href="#" on-click="order:newest">
                <span class="fa {{ icon('order', 'newest') }}"></span>
                Newest
              </a>
            </li>
            <li role="presentation">
              <a role="menuitem" href="#" on-click="order:oldest">
                <span class="fa {{ icon('order', 'oldest') }}"></span>
                Oldest
              </a>
            </li>
            <li role="presentation">
              <a role="menuitem" href="#" on-click="order:largest">
                <span class="fa {{ icon('order', 'size-desc') }}"></span>
                Largest file size
              </a>
            </li>
            <li role="presentation">
              <a role="menuitem" href="#" on-click="order:smallest">
                <span class="fa {{ icon('order', 'size-asc') }}"></span>
                Smallest file size
              </a>
            </li>
            <li role="presentation">
              <a role="menuitem" href="#" on-click="order:name-asc">
                <span class="fa {{ icon('order', 'name-asc') }}"></span>
                File name A-Z
              </a>
            </li>
            <li role="presentation">
              <a role="menuitem" href="#" on-click="order:name-desc">
                <span class="fa {{ icon('order', 'name-desc') }}"></span>
                File name Z-A
              </a>
            </li>
            <li role="presentation">
              <a role="menuitem" href="#" on-click="order:type-asc">
                <span class="fa {{ icon('order', 'type-asc') }}"></span>
                File type A-Z
              </a>
            </li>
            <li role="presentation">
              <a role="menuitem" href="#" on-click="order:type-desc">
                <span class="fa {{ icon('order', 'type-desc') }}"></span>
                File type Z-A
              </a>
            </li>
          </ul>
        </div>
      </div>
      <button type="button" class="close" data-dismiss="modal">
        <span class="fa fa-times"></span>
      </button>
    </div>
    <div class="modal-body" on-dragenter="dropzone:show">
      <div class="drop-zone {{^drop}}hide{{/drop}}" on-dragleave="dropzone:hide" on-drop="drop" on-dragover="drag-over"></div>
      <div class="loader {{^load}}hide{{/load}}"></div>
      <div class="row">
        {{#items}}
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
          <a on-click="select" href="{{path}}" class="thumbnail" on-mousedown="prevent-drag" title="{{name}} ({{size}})">
            {{#thumb}}
              <img src="{{thumb}}" alt="{{name}}">
            {{/thumb}}
            {{#type}}
              <span class="fa type type-{{type}}"></span><br>
              <span>{{type}}</span>
            {{/type}}
            <div class="caption">
              <span on-click="delete:{{id}}" class="fa fa-trash-o text-danger"></span>
              {{name}}
            </div>
          </a>
        </div>
        {{/items}}
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="close" data-dismiss="modal">
        <span class="fa fa-times"></span>
      </button>
    </div>
  </div>
</div>
