
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button on-click="select-upload" class="btn btn-primary">
        <span class="fa fa-upload"></span>
        Upload
      </button>
      <button type="button" class="close" data-dismiss="modal">
        <span class="fa fa-times"></span>
      </button>
    </div>
    <div class="modal-body" on-dragenter="show-dropzone">
      <div class="drop-zone {{^drop}}hide{{/drop}}" on-dragleave="hide-dropzone" on-drop="drop" on-dragover="drag-over"></div>
      <div class="row">
        {{#images}}
        <div class="col-xs-6 col-md-3">
          <a on-click="select" href="{{path}}" class="thumbnail">
            <img src="{{thumb}}" alt="{{name}}">
            <div class="caption">
              {{name}}
            </div>
          </a>
        </div>
        {{/images}}
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="close" data-dismiss="modal">
        <span class="fa fa-times"></span>
      </button>
    </div>
  </div>
</div>
