

// fix modal over tinymce dialog order
.modal-backdrop {
  z-index: 65537;
}
.modal {
  z-index: 65538;
}

#tg-media-modal {
  .modal-dialog{
    width: 800px;
    max-width: 95%;
    .drop-zone {
      position: absolute;
      z-index: 1050;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(140, 140, 140, 0.9);
      &:before {
        position: absolute;
        font-family: FontAwesome;
        font-size: 200px;
        margin: -100px 0 0 -100px;
        color: rgba(240, 240, 240, 0.9);
        top: 50%;
        left: 50%;
        content: "\f019";
      }
    }
    .modal-header, .modal-footer {
      padding: 10px 15px;
      .close {
        .times {
          font-size: 1.33333em;
          line-height: 1.33333em;
        }
      }
    }
    .thumbnail {
      .caption {
        padding: 0;
        height: 1.25em;
        width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
      &:hover {
        text-decoration: none;
      }
    }
  }
}
